<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <!--Logo måste läggas till på vänster sidan samt en javascript carousel.-->

    <div class="toolbar">

        <!-- Här är en placeholder logo-->
        <div class="logo">
            <img src="/static/img//creative_studio_placeholder_logo.png" alt="Creative Studio Logo">
        </div>
        <div class="links">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('movies') }}">Movies</a>
            <a href="{{ url_for('art') }}">Art</a>
            <a href="{{ url_for('music') }}">Music</a>
            <a href="{{ url_for('login') }}">Sign In</a>
        </div>
        <div class="profile">
            <a href="{{ url_for('profile') }}">
                {% if profile_pic != None %}
                    <img id="toolbar-profile-picture" src="{{url_for('static', filename='img/' + profile_pic)}}" alt="Profile Picture">
                {% else %}
                    <img id="toolbar-profile-picture" src="{{url_for('static', filename='img/cat_placeholder.jpg')}}" alt="Profile Picture">
                {% endif %}
            </a>
        </div>
    </div>
    {% block content %}
    <form class="input" id="signup-form" action="signup" method="post" enctype="multipart/form-data">
        <label for="profile-picture">Profile Picture:</label>
        <div id="profile-picture" class="profile-picture">
            <img id="profile-picture-preview" src="/static/img//cat_placeholder.jpg" alt="Profile Picture">
        </div>
        <input type="file" id="profile-picture-input" name="profile-picture" style="display: none;">
        <input type="text" id="signup-username" name="signup-username" placeholder="Username" required minlength="4" maxlength="20">
        <input type="text" id="signup-password" name="signup-password" placeholder="Password" required minlength="8">
        <span id="password-error" style="color: red;"></span>
        <input type="text" id="signup-email" name="signup-email" placeholder="Email" required>
        {% if existing_email %}

            <p>Account exists with given email</p>

        {% endif %}
        <!-- color palettes -->
        <div class="color-options">
            <p>Choose a Color Palette:</p>
            <div class="palette-container">
                <label>
                    <div class="color-palette blue"></div>
                    <input type="radio" name="color" value="blue">
                </label>
                <label>
                    <div class="color-palette beige"></div>
                    <input type="radio" name="color" value="beige" checked>
                </label>
                <label>
                    <div class="color-palette red"></div>
                    <input type="radio" name="color" value="red">
                </label>
                <label>
                    <div class="color-palette yellow"></div>
                    <input type="radio" name="color" value="yellow">
                </label>
            </div>
        </div>
        
        <button class="button" type="submit" name="sign-up">Sign Up</button>
    </form>
    {% endblock %}

    <!-- Javascript -->
    <script>
        function updateBodyClass() {
            var checkedColor = document.querySelector('input[name="color"]:checked').value;
            document.body.className = checkedColor;
        }
    
        document.querySelectorAll('input[name="color"]').forEach(function(input) {
            input.addEventListener('change', updateBodyClass);
        });
    
        document.getElementById('profile-picture').addEventListener('click', function() {
            document.getElementById('profile-picture-input').click();
        });
    
        document.getElementById('profile-picture-input').addEventListener('change', function(e) {
            const reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('profile-picture-preview').src = e.target.result;
            };
            reader.readAsDataURL(this.files[0]);
        });
    
        document.getElementById('signup-form').addEventListener('submit', function(e) {
            var password = document.getElementById('signup-password').value;
    
            if (!/[A-Z]/.test(password)) {
                document.getElementById('password-error').textContent = 'Lösenordet måste innehålla minst en stor bokstav.';
                e.preventDefault();
            }
        });
    
        document.getElementById('profile-picture-input').addEventListener('change', function(e) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const newProfilePicture = e.target.result;
                document.getElementById('profile-picture-preview').src = newProfilePicture;
                document.getElementById('toolbar-profile-picture').src = newProfilePicture;
            };
            reader.readAsDataURL(this.files[0]);
        });
    
        updateBodyClass();
    </script>
</body>
</html>